/* Style the element with the id  */

#positiveSent{
	color: #00ff00;
}

#negativeSent{
	color: red;
}

#neutralSent{
	color: grey;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  /*font-size: 105%; */
}